@-webkit-keyframes BackgroundAdjust {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes BackgroundAdjust {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes BackgroundAdjust {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#LogoWrapper {
  border-radius: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  left: 10px;
  overflow: hidden;
  transition: all linear .2s;
  top: 10px;
}
#LogoWrapper:hover {
  transform: rotate(0.25turn);
}
#LogoWrapper ul#LogoNames {
  transition: left linear .5s;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin-top: 50px;
  width: 40px;
  height: 50px;
  display: table;
  position: relative;
  z-index: -1;
  padding-left: 10px;
  list-style: none;
}
#LogoWrapper ul#LogoNames li {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 19px;
  cursor: pointer;
}
#LogoWrapper ul#LogoNames li:hover {
  color: #35daaf;
  padding-left: 4px;
}
#LogoWrapper.Expanded {
  transform: rotate(0turn);
  height: 200px;
  width: 80px;
}
#LogoWrapper.Expanded ul#LogoNames {
  z-index: 100;
}

ul#LogoNames {
  transition: left linear .5s;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  width: 40px;
  height: 50px;
  display: table;
  position: absolute;
  background-color: white;
  z-index: -1;
  padding-left: 10px;
  list-style: none;
}
ul#LogoNames li {
  font-family: 'Slabo 27px', serif;
  font-weight: 300;
  font-size: 12px;
}

body {
  -webkit-animation: BackgroundAdjust 20s ease infinite;
  -moz-animation: BackgroundAdjust 20s ease infinite;
  animation: BackgroundAdjust 20s ease infinite;
  background: linear-gradient(270deg, #35daaf, #359ada);
  background-size: 400% 400%;
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  margin-top: 30px;
}

.inputwrapper {
  display: flexbox;
}
.inputwrapper span {
  font-size: 28px;
  color: white;
}
.inputwrapper input, .inputwrapper select {
  margin: 0px;
  margin-top: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: white 2px solid;
  font-size: 20px;
  color: white;
  line-height: 1em;
}
.inputwrapper option {
  background-color: #35daaf;
  padding: 5px 0;
  font-size: 12px;
  outline: none;
  border: 0;
  line-height: 1em;
}
.inputwrapper a {
  font-size: large;
  text-decoration: none;
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.wrapper {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  width: 520px;
  height: 600px;
  color: white;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  font-weight: 100;
  text-align: left;
}
.wrapper h2 {
  font-size: 38px;
  text-align: center;
  padding: 0px;
  font-family: "Pacifico", cursive;
}
.wrapper p {
  text-align: left;
  font-size: 18px;
  line-spacing: 2em;
}
.wrapper .Dropbox {
  width: 98%;
  border: 2px white solid;
  height: 200px;
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
}
.wrapper .Dropbox.Accent {
  border-color: #333;
}
.wrapper .button {
  position: relative;
  left: 50%;
  top: 10px;
  margin: -50px 0 0 -50px;
  padding: 5px;
  border: 2px solid white;
  font-size: 20px;
  border-radius: 2px;
}
.wrapper .button:hover {
  color: #76e6c9;
  border-color: #76e6c9;
  cursor: pointer;
}
.wrapper canvas {
  margin-left: 135px;
  border: 2px solid white;
  border-radius: 25px;
}
.wrapper table {
  color: white;
  width: 100%;
  border-radius: 50px;
  min-width: 400px;
  text-align: center;
  font-size: 50px;
  font-family: 'Slabo 27px', serif;
  padding: 0px;
}
.wrapper table td {
  padding-top: 20px;
  cursor: default;
}
.wrapper table td:hover {
  color: #bfbfbf;
}

ul.FileList {
  list-style-type: none;
  text-align: right;
  white-space: nowrap;
  direction: rtl;
  padding: 10px;
  margin: 10px;
}
ul.FileList li {
  line-height: 2em;
}
ul.FileList li a {
  padding-top: 10px;
  margin-left: 10px;
  color: white;
  text-decoration: none;
  padding: 5px;
  transition: all linear .2s;
}
ul.FileList li a:hover {
  border-radius: 10px;
}

.LoginWrapper {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 0px;
  position: absolute;
  width: 100px;
  background-color: white;
  right: 0px;
  top: 0px;
  border-bottom-left-radius: 10px;
  min-height: 20px;
  height: 20px;
  overflow: hidden;
  transition: all linear .3s;
}
.LoginWrapper .LoginUser {
  padding-left: 30px;
  color: #333;
}
.LoginWrapper .Logout {
  width: 100%;
  margin: 0;
  background-color: #359ada;
  text-align: center;
  argin: 0;
  padding: 1px;
  margin-top: 9px;
  text-align: center;
  font-size: small;
}
.LoginWrapper .Logout a {
  text-decoration: none;
  color: white;
}
.LoginWrapper:hover {
  height: 50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.FileList {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}
.FileList .FileCard {
  display: flexbox;
  width: 200px;
  text-align: center;
  margin: 2px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.FileList .FileCard:hover {
  background-color: #eee;
}
.FileList .FileCard a {
  color: #555;
}
.FileList .FileCard img {
  display: flex;
  width: 100%;
  height: 160px;
  object-fit: cover;
}
